In [8]:
import pandas as pd
from json import loads, dumps
import lxml
import pandavro as pdx

In [9]:
df = pd.read_csv('CanadaHouses.csv', encoding = "ISO-8859-1")
df.head(2)

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0

In [10]:
#Save in Json format
df.to_json("CanadaHouses.json", orient="table")

In [11]:
#Save in XML format
df.to_xml("CanadaHouses.xml")

In [12]:
#Save in AVRO format
pdx.to_avro("CanadaHouses.avro", df)

In [13]:
#Save in Parquet format
df.to_parquet("CanadaHouses.parquet", compression='gzip')

In [14]:
import pyarrow.parquet as pq

In [15]:
file = pq.ParquetFile("CanadaHouses.parquet")
file.metadata

<pyarrow._parquet.FileMetaData object at 0xffff6069e1d0>
  created_by: parquet-cpp-arrow version 14.0.1
  num_columns: 10
  num_rows: 35768
  num_row_groups: 1
  format_version: 2.6
  serialized_size: 5780

In [16]:
file.schema

<pyarrow._parquet.ParquetSchema object at 0xffff6064ffc0>
required group field_id=-1 schema {
  optional binary field_id=-1 City (String);
  optional double field_id=-1 Price;
  optional binary field_id=-1 Address (String);
  optional int64 field_id=-1 Number_Beds;
  optional int64 field_id=-1 Number_Baths;
  optional binary field_id=-1 Province (String);
  optional int64 field_id=-1 Population;
  optional double field_id=-1 Latitude;
  optional double field_id=-1 Longitude;
  optional double field_id=-1 Median_Family_Income;
}

In [17]:
df = file.read().to_pandas()
df.head(2)

,City,Price,Address,Number_Beds,Number_Baths,Province,Population,Latitude,Longitude,Median_Family_Income
0,Toronto,779900.0,#318 -20 SOUTHPORT ST,3,2,Ontario,5647656,43.7417,-79.3733,97000.0
1,Toronto,799999.0,#818 -60 SOUTHPORT ST,3,1,Ontario,5647656,43.7417,-79.3733,97000.0